.bgc{
    width: 100%;
    height: 100vh;
    background-color: #0a0a0a;
    position: relative;
    overflow: hidden;
}

.title{
margin: 40px;
color: white;
}
.wrapper{
font-family: 'poppins',sans-serif;
color: #a0a0a0;
display: block;
max-width: 500px;
margin: auto;
text-align: center;

}

.wrapper button{
background-color: red;
color: white;
width: 50px;
height: 20px;
border: none;
border-radius: 2px;
}
.back a{
position: relative;
text-decoration: none;
font-size: 18px;
letter-spacing: 0.5px;
padding: 0 10px;
color: #a0a0a0;
}

.back a::after{
content: "";
display: block;
background-color: #ff3c78;
height: 3px;
width: 0;
left: 0;
bottom: -10px;
transition: 0.3s;
}

.back a:hover::after{
width: 100%;
}